{% extends "base.html" %}
{% block title %}Campus Connect | Admin{% endblock %}



{% block mainblock%}
<style>
    .flash-message {
        font-family: 'Chillax', sans-serif;
        color: #000;
        text-align: center;
    }
</style>
<div class="wrapper">
    <section class="login-content">
        <div class="row m-0 align-items-center bg-white vh-100">
            <div class="col-md-6 d-md-block d-none bg-primary p-0 mt-n1 vh-100 overflow-hidden">
                <img src="/static/banner/hero.jpg" class="img-fluid gradient-main animated-scaleX" alt="images">
            </div>
            <div class="col-md-6">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="card card-transparent auth-card shadow-none d-flex justify-content-center mb-0">
                            <div class="card-body">
                                <a href="#" class="navbar-brand d-flex align-items-center mb-3">
                                    <!--Logo start-->
                                    <!--logo End-->

                                    <!--Logo start-->
                                    <div class="logo-main">
                                        <div class="logo-normal">

                                        </div>
                                        <div class="logo-mini">

                                        </div>
                                    </div>
                                    <!--logo End-->
                                    <h4 class="logo-title ms-0 fw-bolder">Campus Connect</h4>
                                </a>
                                <h2 class="mb-2 text-center form-title">Admin Login</h2>
                                <p class="text-center form-text"></p>
                                <form method="POST" class="form">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="username" class="form-label">Admin Username</label>
                                                <input type="text" name="username"  placeholder="" class="form-control border-dark"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="password" class="form-label">Admin Password</label>
                                                <input type="password" name="password" placeholder="" class="form-control border-dark"
                                                    required>

                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-dark">Login</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="Registration-div mt-5">



                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% for category, message in messages %}
                                    <p class="flash-message">{{ message }}</p>
                                    {% endfor %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}