<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <link
        href="https://api.fontshare.com/v2/css?f[]=general-sans@200,300,400,500,700&f[]=clash-grotesk@200,300,400,700&f[]=chillax@200,400,500,700&f[]=panchang@200,300,400,500,600&f[]=poppins@100,200,300&f[]=quicksand@300,400,500&display=swap"
        rel="stylesheet">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <link
        href="https://api.fontshare.com/v2/css?f[]=general-sans@200,300,400,500,700&f[]=clash-grotesk@200,300,400,700&f[]=chillax@200,400,500,700&f[]=panchang@200,300,400,500,600&f[]=poppins@100,200,300&f[]=quicksand@300,400,500&display=swap"
        rel="stylesheet">
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="/static/assets/css/core/libs.min.css" />

    <!-- Aos Animation Css -->
    <link rel="stylesheet" href="/static/assets/vendor/aos/dist/aos.css" />

    <!-- Campus Connect Design System Css -->
    <link rel="stylesheet" href="/static/assets/css/hope-ui.min.css?v=2.0.0" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="/static/assets/css/custom.min.css?v=2.0.0" />

    <!-- Dark Css -->
    <link rel="stylesheet" href="/static/assets/css/dark.min.css" />

    <!-- Customizer Css -->
    <link rel="stylesheet" href="/static/assets/css/customizer.min.css" />

    <link
        href="https://api.fontshare.com/v2/css?f[]=general-sans@200,300,400,500,700&f[]=clash-grotesk@200,300,400,700&f[]=chillax@200,400,500,700&f[]=panchang@200,300,400,500,600&f[]=poppins@100,200,300&f[]=quicksand@300,400,500&display=swap"
        rel="stylesheet">

    <title>
        {% block title %}
        {% endblock %}
    </title>
    <!-- RTL Css -->
    <link rel="stylesheet" href="/static/assets/css/rtl.min.css" />
    <style>
        .logo-title,
        .form-group label,
        .form-title,
        .form-text,
        .form-group input {
            color: #000;
            font-family: 'Chillax', sans-serif;
        }
    </style>
</head>

<body>
    {% block mainblock%}


    {% endblock %}
</body>

</html>