<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link
        href="https://api.fontshare.com/v2/css?f[]=general-sans@200,300,400,500,700&f[]=clash-grotesk@200,300,400,700&f[]=chillax@200,400,500,700&f[]=panchang@200,300,400,500,600&f[]=poppins@100,200,300&f[]=quicksand@300,400,500&display=swap"
        rel="stylesheet">

    <title>Download Confirmation</title>
    <style>
        .button-submit {
            text-decoration: none;
            display: flex !important;
            align-items: center !important;
            font-weight: normal;
            justify-content: center !important;
            margin: 0;
        }

        .download p {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="Registration-div">
        <div class="bannerimg">
            <img src="/static/banner/hero.jpg" alt="">
        </div>
        <div class="form download">
            <div class="logo">
                <h1>Campus Connect</h1>
            </div>
            <div class="title">
                <h2>Registration Successful!</h2>
            </div>
            <p>Download your confirmation files below:</p>
            <a href="{{ url_for('get_qr', uid=uid) }}" class="button-submit" download>Download QR Code</a>
            <a href="{{ url_for('get_pdf', uid=uid) }}" class="button-submit" download>Download PDF
                Confirmation</a>
            <a href="/" class="button-submit">Back to Home</a>
        </div>

    </div>
</body>

</html>